# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Target dir
target/
day*/puzzle_input.txt
day*/puzzle_input*.txt
day*/basket_case.txt
tmp/
profile.txt
out.txt
day*/really_evil_input.txt